# Scrapy
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Logs
*.log

# Python environment
venv/
env/

#Pycharm
.idea

output.xlsx
./businessMagnet/businessMagnet/output.xlsx

# Scraped data
*.csv
*.json
*.jl
*.xml
*.pickle

# Ignore .gitignore itself if it exists
!.gitignore
